body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}
.container {
    max-width: 960px;
}
.header {
    background-color: #f4f4f4;
    height: 514px;
}
/* Шапка */
.features-text-block {
    display: inline-block;  /* появляются отступы  */
    width: 33%;
    vertical-align: top;
    text-align: center;
}
.features-text-sub {
    color: #373737;
    min-height: 37px;      /* фикс для высоты блоков с параграфами */
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.features-text-title {
    margin-bottom: 4px;
    color: #f39003;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
/* Шапка Конец */
/* Блок с карточками Начало */
.block-card-prod, .block-card-sample, .block-card-stock, .block-card-print {
    background-color: #ffffff;
    width: 30%;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 14px;
}
.block-card-quality, .block-card-add {
    background-color: #ffffff;
    width: 31%;
    display: inline-block;
}
.card-prod-title {
    color: #373737;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    overflow: hidden;
}
.card-prod-sub {
    color: #373737;
    font-size: 14px;
    font-weight: 300;
    text-align: justify left;
    line-height: 17px;
    overflow: hidden;
}
.block-card {
    margin-top: 37px;
}
.card-img {
    float: left;
    clear: left;
    margin-left: 13px;
    margin-right: 11px;
    margin-top: 38px;
}
.card-descr {
    margin-top: 28px;
    margin-bottom: 32px;
}

/* Блок с карточками Конец */
/* Блок продукции Коробки Начало */
footer {
    margin-bottom: 73px;
    text-align: center;
}
.prod-sector {
    margin-top: 57px;
    text-align: center;
}
.product {
    margin-top: 31px;
}
.box1, .box3 {
    display: inline-block;
    width: 50%;
}
.box2, .box4 {
    display: inline-block;
    width: 48%;
}
/* Кнопки */
.button-o {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.47px;
    padding: 16px 24px;
    background-color: #ff9d00;
    border-radius: 5px;
    border: 1px solid #ff9d00;
    outline: 0;
    margin-left: 12px;
    margin-top: 28px;
    text-align: center;
}
.button {
    background-color: transparent;
    color: #373737;
    border: 1px solid #373737;
    opacity: 0.5;
    padding: 16px 24px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.47px;
    text-align: center;
}
.button:focus {
    background-color: #c0c0c0;
    border: 1px solid #696969;
    cursor: pointer;
}
.button:hover {
    background-color: #c0c0c0;
    border: 1px solid #696969;
    cursor: pointer;
}
.button-o:focus {
    background-color: #cc7722;
    border: 1px solid #cc7722;
    cursor: pointer;
}
.button-o:hover {
    background-color: #cc7722;
    border: 1px solid #cc7722;
    cursor: pointer;
}
/* Конец Кнопки */
.box-title {
    margin-top: 19px;
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 19.99px;
    text-align: center;
}
