body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}
.container {
    max-width: 960px;
    width: auto;
    margin: 0 auto;
    text-align: center;
}
.features {
    background-color: #f4f4f4;
    height: 514px;
}
.features-text-block {
    display: inline-block;  /* появляются отступы  */
    width: 33%;
    vertical-align: top;
    text-align: center;
}
.features-text-sub {
    color: #373737;
    min-height: 37px;      /* фикс для высоты блоков с параграфами */
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.features-text-title {
    margin-bottom: 4px;
    color: #f39003;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
/* 1 ряд с карточками Начало */
.card-prod {
    background-color: #ffffff;
    width: 31%;
    padding: 20px 20px 25px 0;
    margin-top: 37px;
    margin-bottom: 30px;
    margin-right: 30px;
    display: inline-block;
}
.card-sample {
    background-color: #ffffff;
    width: 31%;
    padding: 20px 20px 25px 0;
    margin-right: 30px;
    display: inline-block;
}
.card-quality {
    background-color: #ffffff;
    width: 31%;
    padding: 15px 20px 25px 0;
    display: inline-block;
}
/* Конец */
/* 2 ряд с карточками Начало */
.card-stock {
    background-color: #ffffff;
    width: 31%;
    padding: 20px 20px 25px 0;
    margin-right: 30px;
    display: inline-block;
}
.card-print {
    background-color: #ffffff;
    width: 31%;
    padding: 20px 20px 25px 0;
    margin-right: 30px;
    display: inline-block;
}
.card-add {
    background-color: #ffffff;
    width: 31%;
    padding: 20px 20px 25px 0;
    display: inline-block;
}
/* Конец */
/* Блок продукции Коробки Начало */
.prod-sector {
    margin-top: 57px;
    text-align: center;
}
.product {
    margin-top: 31px;
}
.box1, .box3 {
    display: inline-block;
    width: 50%;
}
.box2, .box4 {
    display: inline-block;
    width: 48%;
}
/* Кнопки */
.button-o {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.47px;
    padding: 16px 24px;
    background-color: #ff9d00;
    border-radius: 5px;
    border: 1px solid #ff9d00;
    outline: 0;
    margin-left: 12px;
    margin-top: 28px;
    text-align: center;
}
.button {
    background-color: transparent;
    color: #373737;
    border: 1px solid #373737;
    opacity: 0.5;
    padding: 16px 24px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.47px;
    text-align: center;
}
.button:focus {
    background-color: #c0c0c0;
    border: 1px solid #696969;
    cursor: pointer;
}
.button:hover {
    background-color: #c0c0c0;
    border: 1px solid #696969;
    cursor: pointer;
}
.button-o:focus {
    background-color: #cc7722;
    border: 1px solid #cc7722;
    cursor: pointer;
}
.button-o:hover {
    background-color: #cc7722;
    border: 1px solid #cc7722;
    cursor: pointer;
}
/* Конец Кнопки */